############################
# NPM files
############################
node_modules/
bower_components/
npm-debug.log


############################
# Report files
############################
coverage/


############################
# Other
############################
build/
./test/
**/*.min.js
**/*-min.js